<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Randomly.Properties.Settings.ConnString" connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=DataBase\\RandomApp.accdb;Persist Security Info=True;Jet OLEDB:Database Password=Randomly@2024$"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>